<%- include('partials/head') %>
<%- include('partials/header') %>


<div class="edit-container">
  <h2 class="page-title">Edit Book PDF</h2>
  <form action="/book-pdfs/<%= pdf.id %>/edit" method="POST" class="edit-form">
    <label for="book_id">Book ID:</label>
    <input
      type="number"
      id="book_id"
      name="book_id"
      value="<%= pdf.book_id %>"
    />

    <label for="book_title">Book Title:</label>
    <input
      type="text"
      id="book_title"
      name="book_title"
      value="<%= pdf.book_title %>"
    />

    <label for="filename">Filename:</label>
    <input
      type="text"
      id="filename"
      name="filename"
      value="<%= pdf.filename %>"
    />

    <button type="submit" class="button">Update PDF</button>
  </form>
</div>

<%- include('partials/footer') %>
